<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">

        <div class="footer-col-wrapper">
            <div class="footer-col">
                <p class="feed-subscribe">

                </p>
                <p>
                    <a href="https://linkedin.com/in/danwiseman" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg" alt="danwiseman" height="30" width="40" /></a>
                    <a href="https://github.com/danwiseman" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/github.svg" height="30" width="30" /></a>
                </p>
            </div>
            <div class="footer-col">
                <p>:wave: Hi, I'm a Senior Data Engineer that enjoys :mountain_biking_man:
                    mountain biking and old :blue_car: Toyotas. I'm not really interested in
                    pursuring new opportunities at this time, but you can still connect with me
                    with the links below.</p>
            </div>
        </div>

        <div class="social-links">
            {%- include social.html -%}
        </div>

    </div>

</footer>