<a href="https://comptia.org/">
    <img alt="Comptia Certified Badge"
        src="https://img.shields.io/badge/CompTIA-Linux+_&_Sec+-blue.svg?labelColor=red&style=for-the-badge" />
</a>
<a href="https://confluent.io/">
    <img alt="Confluent Certified Badge"
         src="https://img.shields.io/badge/Confluent-Kafka_Developer-515dff.svg?labelColor=9cf&logo=apachekafka&style=for-the-badge" /></a>
<a href="https://databricks.com/">
<img alt="Databricks Certified Badge"
     src="https://img.shields.io/badge/Databricks-Data_Engineer_Associate-a9aaff.svg?style=for-the-badge&logo=databricks&labelColor=333" /></a>
<a href="https://linkedin.com/in/danwiseman">
<img alt="LinkedIn Certified Badge"
    src="https://img.shields.io/badge/Too_Many_certs-Check_Linked_In-blue.svg?style=for-the-badge&logo=linkedin" />
</a>
<a href="https://ih8mud.com/">
<img alt="Land Cruiser Badge"
     src="https://img.shields.io/badge/Toyota-Land_Cruiser_owner-orange.svg?style=for-the-badge&logo=toyota&labelColor=eee&logoColor=333" />
    </a>
